<h1 class="text-center my-5">Productos</h1> 
<div class="container my-5" id="idListaProductos">
    <div class="row">
        {{#each productos}}


            <div id="idProducto{{this.id}}" class="col-3 card w-25 m-3">
                <div class="card-body p-0 my-3">
                    <img src={{this.thumbnail}} class="w-100" alt="Imagen del producto" />
                    <h5 class="card-title">{{this.title}}</h5>
                    <p>{{this.description}}</p>
                    <p><span class="fw-bold">Precio: </span>${{this.price}}</p>
                    <p><span class="fw-bold">Stock: </span>{{this.stock}}</p>
                    <p><span class="fw-bold">Categoría: </span>{{this.category}}</p>
                </div>
                {{!-- <div className="card-footer">
                    <Link to={`/producto/${producto.id}`}>
                        <button className="btn btn-outline-dark w-100">Detalle </button>
                    </Link>
                </div> --}}
            </div>
            

        {{/each}}
    
    </div>
    <div class="row">
        <div id="botones" className="col-md-12">
            <button class="w-15 btn btn-primary" id="btnActualizarProductos"><a href="/" class="link-light">Actualizar Productos</a></button>
            <button class="w-15 btn btn-primary" id="btnProductosTiempoReal"><a href="/realtimeproducts" class="link-light">Productos en Tiempo Real</a></button>
            <button class="w-15 btn btn-success" id="btnChat"><a href="/chat" class="link-light" target="_blank">Chatear</a></button>
        </div>
    </div>
</div>

